img.emg-button
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	
}

img.emg-button:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.emg-button {
      max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  img.emg-button {
      max-height: 90%;
  }
}