<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title>main</title>
  
  <!-- Buttons -->
  <link href="../style/buttons.css" rel="stylesheet" type="text/css">
  <!-- Transitions -->
  <link rel="stylesheet" href="transitions.css">
  
  <!-- Util CSS: some tricks -->
  <link rel="stylesheet" href="../util.css">
  <link rel="stylesheet" href="../fonts.css">

  <style type="text/css">
    #main{
      margin: 0 auto;
      width: 80%;
      text-align: center;
    }
    #main p{
      margin-bottom: 30px;
    }
    #main button{
      margin-bottom: 50px;
    }
    #main a, #main a:visited{
      color: #3110bc;
      text-decoration: none;
      font-size: 1.3em;
    }
    
  </style>
</head>
<body>
  
  <section>
    <article id="main">
      <!-- logo -->
      <p id="logo"><img src="../images/logo_cndh.png"></p>
      <!-- Botón reporte -->
      <button class="recommend">Reporte</button>
      <!-- llamada -->
      <a href="#" id="call">Llamada telefónica</a>
    </article>
  </section>

  <script type="text/javascript" defer src="js/app.js"></script>

  <script>
    /*var mobile = (navigator.userAgent.search("Mobile") != -1);
    if ( mobile ) {
      //Let's reduce font-size when in landscape  
      //fs: current font-size
      var fs = parseInt(window.getComputedStyle(document.documentElement).getPropertyValue( 'font-size' ), 10);
      var mql = window.matchMedia("(orientation: portrait)");

      if(mql.matches) { //portrait
        document.documentElement.style.fontSize = fs + 'px';
        document.body.classList.remove('landscape');
      } else { // landscape
        document.documentElement.style.fontSize = fs * 0.7 + 'px';
        document.body.classList.add('landscape');
      }

      mql.addListener(function(m) {
        if(m.matches) { //portrait
          document.documentElement.style.fontSize = fs + 'px';
          document.body.classList.remove('landscape');
        }
        else { //landscape
          document.documentElement.style.fontSize = fs * 0.7 + 'px';
          document.body.classList.add('landscape');
        }
      });
    }*/
  </script>
</body>
</html>